* {
   box-sizing:border-box
 }

 /* Slideshow container */
 .slideshow-container {
   max-width: 1482px;
   position: relative;
   margin: auto;
 }
 /* Ẩn các slider */
 .mySlides {
     display: none;
 }
 /* Định dạng nội dung Caption */
 .text {
   color: #f2f2f2;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
 }
  
 /* định dạng các chấm chuyển đổi các slide */
 .dot {
   cursor:pointer;
   height: 13px;
   width: 13px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
 /* khi được hover, active đổi màu nền */
 .active, .dot:hover {
   background-color: #717171;
 }
  
 /* Thêm hiệu ứng khi chuyển đổi các slide */
 .fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 3s;
   animation-name: fade;
   animation-duration: 3s;
 }
  
 @-webkit-keyframes fade {
   from {opacity: .4} 
   to {opacity: 1}
 }
  
 @keyframes fade {
   from {opacity: .4} 
   to {opacity: 1}
 }
 .home2{
   width: 100%;
   padding: 60px;
   height: 2200px;
   background-image: url(../background.jpg);
   background-repeat: repeat;
   background-size: contain;
   text-align: center;
 }
 .home2-1-1{
   display: flex;
   margin-bottom: 50px;
 }
 .gym{
   margin-left: 75px;
   width: 250px;
   height: 500px;
   margin-right: 75px;
   background-color: #353535;
   
 }
 .gym1{
   width: 250px;
   height: 200px;
   font-size: 15px;
   line-height: 23px;
   color: white;
   text-align: center;
 }
 .gym1 h3{
margin-left: 12.5px;
   width: 225px;
   border: 2px solid;
   border-color: green;
   border-top: none;
   border-left: none;
   border-right: none;
 }
 .gym1 p{
   margin-top: -15px;
 }
 .yoga{
   width: 250px;
   height: 500px;
   margin-right: 75px;
   background-color: #353535;
 }
 .dance{
   width: 250px;
   height: 500px;
   margin-right: 75px;
   background-color: #353535;
 }
 .boxing{
   width: 250px;
   height: 500px;
   margin-right: 75px;
   background-color: #353535;
 }
 .gym img{
   width: 250px;
   height: 250px;
 }
 .yoga img{
   width: 250px;
   height: 250px;
 }
 .dance img{
   width: 250px;
   height: 250px;
 }
 .boxing img{
   width: 250px;
   height: 250px;
 }
 button{
   width: 225px;
   height: 50px;
   background-color: green;
   color: white;
   font-weight: 600;
   text-align: center;
 }
 button:hover{
   background-color: black;
 }
 .home2-2{
   width: 100%;
   height: 815px;
   margin-left: 75px;
   /* padding: 60px; */
   /* margin: 0px 100px; */
 }
 .home2-2 h2{
   text-align: center;
   color: green;
   font-weight: 700;
 }
 .home2-2 p {
   font-size: 15px;
   line-height: 23px;
 }
 .home2-2-1{
   display: flex;
 }
 .home2-2-1-2{
  display: flex;
 }
 .camket{
  margin-left: 45px;
  width: 600px;
  height: 550px;
  /* padding: 0px 15px; */
  line-height: 23px;
 }
 .camket .camket1{
  width: 600px;
  height: 100px;
  
  text-align: left;
  margin-bottom: -10px;
 }
 .camket1 h3{
  margin-top: 5px;
 }
 .camket1 p{
  margin-top: -10px;
  margin-bottom: 5px;
  font-size: 17px;
 }
.home2-3{
  width: 100%;
  height: 600px;
}
.home2-3-1{
  width: 1300px;
  height: 430px;
  display: flex;
  margin: 0 100px;
}
.home2-3-1-1 {
  width: 265px;
  height: 300px;
  margin-right: 25px;

}
.home2-3-1-1 p{
  background-color: black;
  color: white;
  font-size: 18px;
  height: 40px;
  justify-content:end;
  margin-top: -4px;
}
.home2-3-1-1 img{
  width: 265px;
  height: 265px;
}
.home2-3-2{
  margin-left: 95px;
  display: flex;
}
.home2-3-2-1{
  width: 260px;
  height: 140px;
  background-color: #038625;
  color: white;
  margin-right: 30px;
  font-size: 17px;
}
.home3{
  width: 100%;
  height: 650px;
  background-image: url(../banner-xanh-la.jpg);
  background-repeat: none;
  background-position: 100%;
}
.home3-1{
  width: 1300px;
  height: 200px;
  margin-left: 80px;
}
.home3-1 h2{
  text-align: center;
  color: #038625;
  font-weight: 700;
  padding-top: 50px;
  font-family: sans-serif;
}
.home3-1 p{
  width: 850px;
  text-align: center;
  color: white;
  margin-left: 230px;
  font-size: 17px;
}
.home3-2{
  display: flex;
  width: 1200px;
  height: 400px;
}
.home3-2-1{
  width: 250px;
  height: 250px;
  /* margin-left: 150px; */
  margin-right: 25px;
}
.home3-2-1 img{
  width: 250px;
  height: 250px;
}
.home3-2-1 h2{
  padding-top: 5px;
  font-family: monospace;
  text-transform: uppercase;
  background-color: #038625;
  height: 35px;
  color: white;
  text-align: center;
  margin-top: -5px;
}
.home3-2-1 h4{
  padding-top: 5px;
  font-family: monospace;
  /* text-transform: uppercase; */
  background-color: #ffff;
  height: 40px;
  color: black;
  text-align: center;
  margin-top: -18px;
  border-color:#d2d7e2;
border-style:solid none none;
border-width:1px 0px 0px;
}